img 
{
	border: 8px solid cornflowerblue;
}
p
{
	padding-left: 10px;
}
.kevinroaster
{
	size: 2;
	font: arial;
}
.topnav
{
	background: #333;
	overflow: hidden;
}
.topnav a
{
	float: left;
	color: #f2f2f2;
	text-align: center;
	padding: 20px 30px;
	text-decoration: none;
	font-size: 22px;
}
.topnav a:hover {
  background-color: #ddd;
  color: black;
}
.topnav a.active {
  background-color: cornflowerblue;
  color: white;
}