img 
{
	border: 8px solid cornflowerblue;
}
p
{
	padding-left: 10px;
}
body
{
	background-color: aliceblue;
}
.kevinroaster
{
	size: 2;
	font-family: helvetica;
}
.topnav
{
	background: #333;
	overflow: hidden;
}
.topnav a
{
	float: left;
	color: #f2f2f2;
	text-align: center;
	padding: 20px 30px;
	text-decoration: none;
	font-size: 22px;
}
.topnav a:hover {
  background-color: #1973C6;
  color: aliceblue;
}
.topnav a.active {
  background-color: cornflowerblue;
  color: #D2EAFF;
}