/*Setting background colour*/
body
{
	background-color: aliceblue;
}

/*VVVVV CLASSES GO BELOW VVVVV*/
.subtitle-text
{
	text-align: center;
	color: black;
	font-family: helvetica;
}
/*Class for body text/paragraphs*/
.body-text
{
	size: 2;
	font-family: helvetica;
}
/*Class for the navigator at the top of each page*/
.topnav
{
	margin-top: -0.5vw;
	margin-left: -0.5vw;
	top: 0;
	background: #333;
	overflow: hidden;
	width: 99vw;
	position: sticky;
	position: -webkit-sticky;
	z-index: 10;
}
/*Class to determine the positioning and style of the text on the top navigator*/
.topnav > a
{
	float: left;
	color: #f2f2f2;
	text-align: center;
	padding: 20px 30px;
	text-decoration: none;
	font-size: 22px;
}
/*Functionality for hovering over page hyperlinks*/
.topnav a:hover 
{
	background-color: #1973C6;
	color: aliceblue;
}
/*Class for whichever page is the current active page on a page*/
.topnav a.active 
{
	background-color: cornflowerblue;
	color: #D2EAFF;
}
/*
.flex-container 
{
	display: flex;
}

.flex-container > div 
{
	background-color: white;
	border: #333;
	border-width: 2px;
	margin: 10px;
	padding: 20px;
	font-size: 30px;
}
*/
